.top {
	width: 100%;
	height: 50px;
	background-color: #fffdf0;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	font-family: "Josefin Sans", sans-serif;
    z-index: 10000000;
}

.logo {
    font-size: 32px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.topLeft,
.topRight {
	flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.topImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.topCenter {
	flex: 6;
}

.topList {
    display: flex;
    justify-content: center;
    list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}